---
import Baselayout from "../layouts/BaseLayout.astro";

const pageTitle = "Kontakt - Michal Dekýš";
const description = "Kontakt na Michala Dekýša, Frontend Developera & UI Designera.";
const ogLocale = "sk_SK";
const ogTitle = "Michal Dekýš - Kontakt";
const ogImage = "";
const ogUrl = Astro.url.href;
const ogImageAlt = "Logo Michala Dekýša";
const headerTitle = "Kontakt";

---

<Baselayout
  pageTitle={pageTitle}
  description={description}
  ogLocale={ogLocale}
  ogTitle={ogTitle}
  ogImage={ogImage}
  ogUrl={ogUrl}
  ogDescription={description}
  ogImageAlt={ogImageAlt}
  headerTitle={headerTitle}
>
<div class="flex-1 flex flex-col justify-center items-center">
  <form action="">
    <div class="flex flex-col space-y-1 mb-4">
      <label for="name">Meno a priezvisko</label>
      <input type="text" id="name" class="input" placeholder="Napíšte svoje meno" />
    </div>

    <div class="flex flex-col space-y-1 mb-4">
      <label for="email">E-mail</label>
      <input type="email" id="email" class="input" placeholder="Napíšte svoj e-mail" />
    </div>

    <div class="flex flex-col space-y-1 mb-4">
      <label for="message">Správa</label>
      <textarea id="message" class="input h-32" placeholder="Napíšte svoju správu"></textarea>
    </div>

    <button type="submit" class="button uppercase">Odoslať</button>
  </form>
</div>
</Baselayout>