---
import Baselayout from "../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import PortfolioCard from "../components/PortfolioCard.astro";
import chevrons from "../images/chevrons-up.svg";

const lang = getLangFromUrl(Astro.url) as "sk" | "cz" | "en" | "la";
const t = useTranslations(lang);

const pageTitle = "Projekty - Michal Dekýš";
const description = t("description.portfolio");
const ogLocale = "sk_SK";
const ogTitle = "Michal Dekýš - Projekty";
const ogImage = "";
const ogUrl = Astro.url.href;
const ogImageAlt = "Logo Michala Dekýša";
const headerTitle = t("page.portfolio");

const navItems = [
  { key: "skusenosti", label: t("nav.experience"), href: "/skusenosti" },
  { key: "zrucnosti", label: t("nav.skills"), href: "/zrucnosti" },
  { key: "o-mne", label: t("nav.about"), href: "/o-mne" },
];
---

<Baselayout
  pageTitle={pageTitle}
  description={description}
  ogLocale={ogLocale}
  ogTitle={ogTitle}
  ogImage={ogImage}
  ogUrl={ogUrl}
  ogDescription={description}
  ogImageAlt={ogImageAlt}
  headerTitle={headerTitle}
  navItems={navItems}
>
  <div class="vertical-scroll-container">
    <div class="vertical-scroll-slide">
      <PortfolioCard
        title="Zubná ambulancia"
        label="Web Ladenta"
        imageUrl="/ladenta-home.webp"
        description={t("description.ladenta")}
        projectUrl="https://ladenta.sk/"
      />
    </div>

    <div class="vertical-scroll-slide">
      <PortfolioCard
        title="Krátenie poistného plnenia"
        label="Web poistné udalosti"
        imageUrl="/kratenie-home.webp"
        description={t("description.kratenie")}
        projectUrl="https://krateniepoistnehoplnenia.sk/"
      />
    </div>

    <div class="vertical-scroll-slide">
      <PortfolioCard
        title="Advokátska kancelária"
        label="Web advokátska kancelária"
        imageUrl="/rhlegal-home.webp"
        description={t("description.rhlegal")}
        projectUrl="https://rhlegal.sk/"
      />
    </div>
  </div>
  <div class="flex-1 flex justify-center items-center">
    <img src={chevrons.src} alt="Chevrons" width="50" height="50" />
  </div>
</Baselayout>
