---
import Baselayout from "../layouts/BaseLayout.astro";
import ExpCard from "../components/ExpCard.astro";
import code from "../images/code-xml.svg";
import laugh from "../images/laugh.svg";
import tv from "../images/tv-minimal-play.svg";

const pageTitle = "Skúsenosti - Michal Dekýš";
const description = "Skúsenosti Michala Dekýša, obsahujúce jeho odborné skúsenosti a prax.";
const ogLocale = "sk_SK";
const ogTitle = "Michal Dekýš - Skúsenosti";
const ogImage = "";
const ogUrl = Astro.url.href;
const ogImageAlt = "Logo Michala Dekýša";
const headerTitle = "Skúsenosti";

---

<Baselayout
  pageTitle={pageTitle}
  description={description}
  ogLocale={ogLocale}
  ogTitle={ogTitle}
  ogImage={ogImage}
  ogUrl={ogUrl}
  ogDescription={description}
  ogImageAlt={ogImageAlt}
  headerTitle={headerTitle}
>
  <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:space-y-0 space-y-4 mb-8">
    <div class="exp-card w-full">
      <ExpCard
        svgUrl={tv.src}
        svgLabel="tv"
        datum="2018 - 2020"
        title="RTB & DMP špecialista"
        firma="Publicis Groupe"
        description="Špecialista na RTB a DMP s bohatými skúsenosťami v spoločnosti Publicis Groupe. Zodpovedný za správu a optimalizáciu RTB kampaní, tvorbu cielených segmentov a prácu s nástrojmi ako Adform a Google Analytics."
      />
    </div>
    <div class="exp-card w-full">
      <ExpCard
        svgUrl={laugh.src}
        svgLabel="laugh"
        datum="2020 - 2023"
        title="Rodičovská dovolenka"
        firma="DeKiss Family"
        description="Výrazné prehĺbenie schopností vyjednávať (situácie opakujúce sa viackrát denne). Viacfázový bežecký tréning. Každodenný anglický kurz so zameraním na slovnú zásobu bežných denných situácií, stavebných strojov, dinosaurov a zvierat."
      />
    </div>
    <div class="exp-card w-full">
      <ExpCard
        svgUrl={laugh.src}
        svgLabel="laugh"
        datum="2023 - 2024"
        title="Kurzy a spolupráce"
        firma="Školiace centrá a Česko.digital"
        description="Absolvoval som kurzy zamerané na grafiku, dizajn aj programovanie, vďaka čomu dokážem prepájať vizuál s funkčným webom. Skúsenosti som rozšíril aj spoluprácou na projekte CSGOV, kde som sa podieľal na návrhu používateľského rozhrania."
      />
    </div>
    <div class="exp-card w-full">
      <ExpCard
        svgUrl={code.src}
        svgLabel="code"
        datum="2024 - doteraz"
        title="Tvorba web stránok"
        firma="DeKiss"
        description="Webstránky najskôr navrhujem vo Figme, kde kladiem dôraz na moderný a funkčný dizajn. Hotové návrhy potom pretavím do kódu pomocou VS Code, Astro, Tailwindu a JavaScriptu, aby boli rýchle, responzívne a vizuálne atraktívne."
      />
    </div>
  </div>
</Baselayout>
