---
import Baselayout from "../../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url) as "sk" | "cz" | "en" | "la";
const t = useTranslations(lang);

const pageTitle = "Zručnosti - Michal Dekýš";
const description = t("description.skills");
const ogLocale = "sk_SK";
const ogTitle = "Michal Dekýš - Portfolio";
const ogImage = "";
const ogUrl = Astro.url.href;
const ogImageAlt = "Logo Michala Dekýša";
const headerTitle = t("page.zrucnosti");

const navItems = [
  { key: "porfolio", label: t("nav.portfolio"), href: "/la/portfolio" },
  { key: "skusenosti", label: t("nav.experience"), href: "/la/skusenosti" },
  { key: "o-mne", label: t("nav.about"), href: "/la/o-mne" },
];

---

<Baselayout
  pageTitle={pageTitle}
  description={description}
  ogLocale={ogLocale}
  ogTitle={ogTitle}
  ogImage={ogImage}
  ogUrl={ogUrl}
  ogDescription={description}
  ogImageAlt={ogImageAlt}
  headerTitle={headerTitle}
  navItems={navItems}
>
  
  <div class="flex-1 flex flex-col mt-8">

    <div class="skill">
      <p class="text-text">HTML</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 95%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">CSS</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 95%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">Tailwindcss</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 80%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">JavaScript</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 40%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">Database</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 40%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">Git</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 30%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">Astro</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 30%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">Node JS</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 20%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">Figma</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 80%; background-color: var(--color-primary);"></div>
      </div>
    </div>

    <div class="skill">
      <p class="text-text">VS Code</p>
      <div class="skill-bar bg-background-secondary">
        <div class="skill-level auto-animate" style="width: 80%; background-color: var(--color-primary);"></div>
      </div>
    </div>

  </div>
</Baselayout>